<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Web Development Wiki!</title>
		
		<!-- Google fonts -->
		<link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nanum+Gothic&display=swap" rel="stylesheet">
        <!-- Custom stylesheet -->
		<link rel="stylesheet" href="../css/styles.css" />
		<!-- fontawesome -->
		<script src="https://kit.fontawesome.com/31f00f1e88.js" crossorigin="anonymous"></script>
	</head>
	<body>
