<% if (article) { %>
	<%- include("partials/article-header") -%>
<% } else { %>
	<%- include("partials/header") -%>
 <% } %> 
	<body>
		<div>
			<!-- heading -->
			<div class="heading">
				<div class="">
					<!-- logo -->
					<a class="logo" href="/">Dev Wiki</a>
				</div>
				<div class="">
					<form class="search-container" action="/">
						<!-- search -->
						<i class="fas fa-search search-icon"></i>
  					<input class="search-box" type="search" name="search" placeholder="Search...">
  					<!-- <input type="submit" value="Search" class="searchButton"> -->
					</form>
				</div>
			</div>
			<!-- content -->
			<div class="content">
				<!-- categories -->
				<div class="categories">
					<h2 class="">Categories</h2>
					<ul>
						<li>
							<a href="">Frontend</a>
							<ul class="">
								<li>
									<a href="">html</a>
								</li>
								<li>
									<a href="">css</a>
									<ul class="">
										<li>
											<a href="">tailwind</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="">Backend</a>
							<ul class="">
								<li>
									<a href="">node.js</a>
								</li>
								<li>
									<a href="">express.js</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- article content -->
				<div class="article">
					<h1><%= formattedTitle %> </h1>
					<p><%= content %></p>
				</div>
			</div>
		</div>
		<div class="footer">
			<p>© Ryan Kennedy 2021</p>
		</div>
	</body>
</html>
