<%- include("partials/header") -%>
	<body>
		<div>
			<!-- heading -->
			<div class="grid grid-cols-5 py-10 grid-flow-row">
				<div class="col-span-1 text-5xl text-gray-600 pl-10">
					<a href="/">Dev Wiki</a>
				</div>
				<div class="col-span-1 col-end-6">
					<form class="h-full" action="/">
						<input class="transition duration-500 ease-in-out bg-gray-300 py-3 pl-6 w-full focus:outline-none focus:bg-blue-200 focus:placeholder-gray-50 focus:border-gray-300 focus:border-b-2 rounded-full" type="text" placeholder="Search">
					</form>
				</div>
			</div>
			<!-- content -->
			<div class="grid h-screen grid-cols-6">
				<!-- categories -->
				<div class="bg-gray-500 col-span-1 pl-10 pt-10 text-gray-300 leading-8">
					<h2 class="leading-10 border-b-2 border-gray-300 mr-10">Categories</h2>
					<ul>
						<li>
							<a href="">Frontend</a>
							<ul class="pl-5">
								<li>
									<a href="">html</a>
								</li>
								<li>
									<a href="">css</a>
									<ul class="pl-5">
										<li>
											<a href="">tailwind</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="">Backend</a>
							<ul class="pl-5">
								<li>
									<a href="">node.js</a>
								</li>
								<li>
									<a href="">express.js</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- article content -->
				<div class="bg-gray-300 col-span-5">
					
				</div>
			</div>
		</div>
		<div class="bg-gray-500 py-10 text-center text-white">
			<p>© Ryan Kennedy 2021</p>
		</div>
	</body>
</html>
