/* COLORS */
:root {
	--lightest: #f5f5f5;
	--light: #c5c5c5;
	--medium: #666666;
	--dark: #2e2e2e;
	--blue: #00b8ff;
}

/* RESETS: */
html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom; /* Thanks, Jen Simmons */
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
input {
	margin-top: 0;
	font-family: 'Nanum Gothic', sans-serif;
	color: var(--dark);
	text-decoration: none;
}

.logo {
	font-family: 'Major Mono Display', monospace;
	font-size: 3.2rem;
}

.footer {
	text-align: center;
	background-color: var(--dark);
	padding: 2rem 0 2rem 0;
}

.footer p {
	color: var(--light);
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10% 0;
}

/* tablet size and up */
@media (min-width: 800px) {
	.heading {
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		padding: 2% 5% 2% 1%;
	}
}

/* Search box/button */
.search-container {
	display: inline-flex;
	overflow: hidden;
}

.search-icon {
	padding: 0.5rem;
	color: var(--light);
}

.search-box {
	border: 0;
	padding: 0.5rem 0.5rem 0.5rem 0;
	flex: 1;
	border-bottom: 1px solid var(--light);
}

.search-box:focus {
	outline: none;
}

/* .searchButton {
	background: var(--blue);
	border: 0;
	color: var(--light);
	padding: 0.5rem;
	border-radius: 0;
} */

.content {
	min-height: 70vh;
}
@media (min-width: 800px) {
	.content {
		min-height: 80vh;
	}
}

.categories {
	background-color: var(--light);
	color: var(--dark);
	min-height: inherit;
	padding: 2rem;
}

.categories h2 {
	text-align: center;
}

.article {
	display: none;
	padding: 5rem 10rem;
	width: 100%;
	background: var(--lightest);
}

@media (min-width: 800px) {
	.content {
		display: flex;
	}

	.categories h2 {
		text-align: left;
	}

	.article {
		display: block;
	}
}

h1 {
	border-bottom: 1px solid gray;
	padding-bottom: 1rem;
}
